.page{
    background-color: black;
}
.pagetable{
    height: 50%;
}

.rollno{   
  padding: 50px;   
}
.marks{
    width: 90%;
   
   margin-left: auto;
   margin-right: auto;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }